body {
  background-color: #f0f0f1;
}

samp {
  font-size: 10px;
  white-space: pre-wrap;
  background-color: rgb(255, 255, 255);
}

.lotivis-example-data {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  background-color: rgb(255, 255, 254);
  line-height: 80%;
}

.lotivis-example-container {
  padding: 0 50px 0 50px;
  margin: auto;
  max-width: 1200px;
}

.lotivis-example-container-full {
  padding: 0;
  margin: auto;
}

.lotivis-example-row, .lotivis-example-group {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  line-height: 1.4;
}

.lotivis-example-group {
  margin: 15px 0 20px 0;
}

.lotivis-example-col-lg-12, .lotivis-example-col-12 {
  width: calc(100% - 20px);
}

.lotivis-example-col-lg-8, .lotivis-example-col-8 {
  width: calc(66% - 20px);
}

.lotivis-example-col-lg-6, .lotivis-example-col-6 {
  width: calc(50% - 20px);
}

.lotivis-example-col-lg-4, .lotivis-example-col-4 {
  width: calc(33% - 20px);
}

.lotivis-example-col-lg-3, .lotivis-example-col-3 {
  width: calc(25% - 20px);
}

.lotivis-example-col-lg-2, .lotivis-example-col-2 {
  width: calc(16.6% - 20px);
}

.lotivis-example-col-lg-12,
.lotivis-example-col-lg-6,
.lotivis-example-col-lg-4,
.lotivis-example-col-lg-3,
.lotivis-example-col-lg-2,
.lotivis-example-col-12,
.lotivis-example-col-6,
.lotivis-example-col-4,
.lotivis-example-col-3,
.lotivis-example-col-2 {
  padding: 0 10px;
}
