/* sized */
$radius: 8px;
$padding: 8px;

/* colors */
$tint-color: dodgerblue;

/* font sizes */
$label-font-size: 12px;

@import "scss/bar.scss";
@import "scss/legend.scss";
@import "scss/map.scss";
@import "scss/plot.scss";
@import "scss/svg.scss";
@import "scss/datatext.scss";
@import "scss/tooltip.scss";
