/* sized */
$radius: 8px;
$padding: 8px;

/* colors */
$tint-color: dodgerblue;

@import "scss/bar.chart.scss";
@import "scss/map.chart.scss";
@import "scss/plot.chart.scss";
@import "scss/tooltip.scss";
@import "scss/svg.scss";
