
.lotivis-container, .lotivis-container-full {

  a, a:visited {
    text-decoration: none;
    color: $primary-text-color;
  }

  a:hover, a:visited:hover, a.lotivis-anchor-back:hover, a.lotivis-anchor-back:visited:hover {
    color: $tint-color;
  }

  a:active {
    opacity: 0.6;
  }

  a.lotivis-anchor-back {
    font-size: 25px;
    color: #999999;
  }

  a.lotivis-anchor-back::before {
    content: '\2190';
    margin: 0 $spacing 0 0;
  }
}
