button.ltv-button {
  text-decoration: none;
  background-color: #00000000;
  color: $tint-color;
  padding: 5px 0;
  text-align: center;
  display: inline-block;
  font-weight: normal;
  cursor: pointer;
  opacity: 1;
  transition: 0.36s;
  border: none;
}

button.ltv-button:hover {
  color: darken($tint-color, 20%);
}

button.ltv-button:active {
  opacity: 0.6;
}

button.ltv-button.ltv-button-block {
  display: block;
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
}

button.ltv-button.ltv-button-block:hover {
  background-color: #dddddd;
}
