.ltv-card {
  background-color: #ffffff;
  border-radius: $small-border;
  overflow: hidden;
}

.ltv-card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  line-height: 1;
}

.ltv-right {
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}

.ltv-center {
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: auto;
}

.ltv-left {
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
}
