// MARK: - Classes

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.lotivis-disabled {
  opacity: 0.6;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.margin-top {
  margin-top: $border;
}

.margin-bottom {
  margin-bottom: $border;
}

.margin-left {
  margin-left: $border;
}

.margin-right {
  margin-right: $border;
}

.larger {
  font-size: larger;
}

.primary {
  color: $primary-text-color;
}

.secondary {
  color: $secondary-text-color;
}

.important {
  color: red;
}

.lotivis-headline {
  text-align: center;
  margin-bottom: 0.5cm;

  h1 {
    font-size: 26px;
    font-style: normal;
    margin: 0 0 $spacing;
  }
}
