.ltv-datatext {
  .ltv-datatext-title {
    font-size: 12px;
  }

  pre.ltv-datatext-pre {
    counter-reset: line;
    font-size: 10px;
    border-top: solid 1px lightgray;
    margin: 0;
    padding: 10px 0 0 0;
  }

  pre.ltv-datatext-pre code.ltv-datatext-code {
    display: block;
  }

  pre.ltv-datatext-pre code.ltv-datatext-code:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    text-align: end;
    padding: 0 0.5em;
    margin-right: 0.5em;
    min-width: 30px;
    color: #888;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}
