
.lotivis-data-card {
  //background-color: #F5F5F5;

  .lotivis-data-textarea {
    //padding-top: 10px;
    //color: grey;
  }
}

.lotivis-data-status-label {
  font-size: 12px;
}

.lotivis-data-status-text {
  font-size: 12px;
}

.lotivis-data-status-success {
  color: green;
}

.lotivis-data-status-failure {
  //border-radius: $radius;
  background-color: tomato;
  color: white;
  padding: 10px;
  animation: fadeIn ease 0.3s;
}

.lotivis-data-textarea {
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid #cccccc;

  width:100%;
  //margin:5px 0;
  //padding:3px;

  font-family: monospace, sans-serif;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.lotivis-data-card-status-tooltip {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  background-color: tomato;
  color: white;
  //animation: fadeIn ease 0.3s;
}
