
.lotivis-date-chart {
}

.lotivis-date-chart-label {
  pointer-events: none;
  font-size: 20px;
}

.lotivis-date-chart-legend-label {
  font-size: 13px;
}

.lotivis-date-chart-legend-circle {
  cursor: pointer;
  stroke-width: 2;
}

.lotivis-date-chart-bar {
  pointer-events: none;
}

.lotivis-selection-rect {
  border-radius: 10px;
  fill: $tint-color;
}
