// .ltv-date-chart-svg
// .ltv-date-chart-tooltip

.ltv-date-chart {
  // empty
}

.ltv-date-chart-label {
  pointer-events: none;
  font-size: 20px;
}

.ltv-date-chart-legend-label {
  font-size: 13px;
}

.ltv-date-chart-legend-circle {
  cursor: pointer;
  stroke-width: 2;
}

.ltv-date-chart-bar {
  pointer-events: none;
  border-radius: 10px;
}

.ltv-date-chart-hover-bar {
  border-radius: 10px;
  fill: $tint-color;
}

.ltv-date-chart-selection-rect {
  //border-radius: 10px;
  fill: red;
}
