
.lotivis-time-chart {
  // empty
}

.lotivis-time-chart-label {
  pointer-events: none;
  font-size: 20px;
}

.lotivis-time-chart-legend-label {
  font-size: 13px;
}

.lotivis-time-chart-legend-circle {
  cursor: pointer;
  stroke-width: 2;
}

.lotivis-time-chart-bar {
  pointer-events: none;
}

.lotivis-date-chart-hover-bar {
  border-radius: 10px;
  fill: $tint-color;
}

.lotivis-date-chart-selection-rect {
  //border-radius: 10px;
  fill: red;
}
