// MARK: - Input Radio

input[type="radio"] {
  margin: 0 $spacing 0 20px;
  cursor: pointer;
}

input[type="radio"]:first-of-type {
  margin-left: 0;
}

// MARK: - Input Text

input[type="text"] {
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3px 10px;
  width: 90%;
}

// MARK: - Input Checkbox

input[type="checkbox"] {
  margin: 0 $spacing 0 0;
  cursor: pointer;
}

// MARK: - Dropdown

.dropdown-container {

  label {
    margin-right: $spacing;
  }

  label::after {
    content: ':';
  }
}

// MARK: - Radio Group

.radio-group {
  label {
    color: black;
    font-weight: normal;
    font-size: $primary-font-size;
    cursor: pointer;
    transition: 0.36s;
  }

  label:hover {
    color: $tint-color;
  }

  label:active {
    opacity: 0.6;
  }
}
