
.lotivis-container {
  padding: 0 50px 0 50px;
  margin: auto;
  max-width: 1200px;
}

.lotivis-container-full {
  padding: 0;
  margin: auto;
}

.lotivis-row, .lotivis-group {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  line-height: 1.1;
}

.lotivis-col-lg-12, .lotivis-col-12 {
  width: calc(100% - 10px);
}

.lotivis-col-lg-8, .lotivis-col-8 {
  width: calc(66% - 10px);
}

.lotivis-col-lg-6, .lotivis-col-6 {
  width: calc(50% - 10px);
}

.lotivis-col-lg-4, .lotivis-col-4 {
  width: calc(33% - 10px);
}

.lotivis-col-lg-3, .lotivis-col-3 {
  width: calc(25% - 10px);
}

.lotivis-col-lg-2, .lotivis-col-2 {
  width: calc(16.6% - 10px);
}

.lotivis-col-lg-12,
.lotivis-col-lg-6,
.lotivis-col-lg-4,
.lotivis-col-lg-3,
.lotivis-col-lg-2,
.lotivis-col-12,
.lotivis-col-6,
.lotivis-col-4,
.lotivis-col-3,
.lotivis-col-2 {
  padding: 0 5px;
}
