
.lotivis-map {

}

.lotivis-map-area {
  fill: white;
  fill-opacity: 0;
  stroke: black;
  stroke-width: 1;
  cursor: pointer;
}

.lotivis-map-exterior-borders {
  pointer-events: none;
  fill: white;
  fill-opacity: 0;
  stroke: black;
  stroke-width: 1;
}

.lotivis-map-label {
  pointer-events: none;
  text-anchor: middle;
  font-size: 12px;
}

.lotivis-map-selection-rect {
  pointer-events: none;
  position: absolute;
  fill: white;
  fill-opacity: 0;
  stroke: red;
  stroke-width: 1px;
  stroke-dasharray: 1,3;
}
