
.lotivis-map-chart {
  // empty
}

.lotivis-map-chart-background {
  cursor: pointer;
}

.lotivis-map-chart-area {
  fill: white;
  fill-opacity: 0;
  stroke: black;
  stroke-width: 1;
  cursor: pointer;
}

.lotivis-map-chart-area-hover {
  stroke: $tint-color;
  stroke-width: 4;
  stroke-dasharray: 0 !important;
}

.lotivis-map-chart-exterior-borders {
  fill: white;
  fill-opacity: 1;
  stroke: gray;
  stroke-width: 4;
  stroke-opacity: 0.4;
  pointer-events: none;
}

.lotivis-map-chart-label {
  fill: black;
  text-anchor: middle;
  font-size: 12px;
  pointer-events: none;
}

.lotivis-map-chart-selection-border {
  pointer-events: none;
  fill: transparent;
  fill-opacity: 0;
  stroke: $tint-color;
  stroke-width: 3px;
  stroke-dasharray: 0;
  pointer-events: none;
}

.lotivis-map-chart-legend {
  // emtpty
}

.lotivis-map-chart-legend-title {
  // emtpty
}

.lotivis-map-chart-legend-text {
  // emtpty
}

.lotivis-map-chart-legend-rect {
  stroke: black;
  stroke-width: 1;
}
