
.lotivis-location-chart {
  // empty
}

.lotivis-map-chart-background {
  cursor: pointer;
}

.lotivis-location-chart-area {
  fill: white;
  fill-opacity: 0;
  stroke: black;
  stroke-width: 1;
  cursor: pointer;
}

.lotivis-location-chart-exterior-borders {
  fill: white;
  fill-opacity: 0;
  stroke: green;
  stroke-width: 3;
  pointer-events: none;
}

.lotivis-location-chart-label {
  fill: black;
  text-anchor: middle;
  font-size: 12px;
  pointer-events: none;
}

.lotivis-location-chart-selection-rect {
  pointer-events: none;
  position: absolute;
  fill: white;
  fill-opacity: 0;
  stroke: red;
  stroke-width: 1px;
  stroke-dasharray: 1, 3;
}

.lotivis-location-chart-legend {
  // emtpty
}

.lotivis-location-chart-legend-title {
  // emtpty
}

.lotivis-location-chart-legend-text {
  // emtpty
}

.lotivis-location-chart-legend-rect {
  stroke: black;
  stroke-width: 1;
}
