.ltv-legend {
  display: block;

  .ltv-pill-span {
    margin-bottom: 5px;
  }
}

.ltv-legend-group {
  font-size: 12px;
  margin-right: 5px;
  display: block;
}

/* Customize the label (the container) */
.ltv-legend-pill {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.ltv-legend-pill input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.ltv-legend-pill-span {
  font-size: 10px;
  display: inline-block;
  padding: 0 7px;
  margin-right: 5px;
  border-radius: 999999px;
  color: white;
  opacity: 0.2;
}

// /* On mouse-over, add a grey background color */
// .ltv-pill-checkbox:hover input ~ .ltv-pill-checkbox-span {
//   opacity: 0.8;
// }

/* When the checkbox is checked, add a blue background */
.ltv-legend-pill input:checked ~ .ltv-legend-pill-span {
  opacity: 1;
}
