
.lotivis-plot {

}

.lotivis-plot-background {
  fill: rgba(255,255,255, 0);
}

.lotivis-plot-bar {
  stroke: lightgrey;
  stroke-width: 1;
}

.lotivis-plot-grid {
  color: lightgrey;
  stroke-width: 1;
}

.lotivis-plot-label {
  fill: white;
  text-anchor: start;
  font-size: 12px;
  pointer-events: none;
}

.lotivis-plot-grid-x {
  // empty
}

.lotivis-plot-grid-y {
  // empty
}
