// .ltv-plot-chart-svg
// .ltv-plot-grid-x
// .ltv-plot-grid-y

.ltv-plot-chart-background {
  fill: transparent;
  cursor: pointer;
}

.ltv-plot-bar {
  stroke: lightgrey;
  stroke-width: 1;
  pointer-events: none;
}

.ltv-plot-chart-hover-bar {
  border-radius: 10px;
  fill: $tint-color;
}

.ltv-plot-chart-selection-rect {
  border-radius: 10px;
  fill: $tint-color;
}

.ltv-plot-grid {
  color: lightgrey;
  stroke-width: 1;
}

.ltv-plot-label {
  fill: greenyellow;
  text-anchor: start;
  font-size: 12px;
  pointer-events: none;
}
