
.lotivis-plot {

}

.lotivis-plot-bar {
  stroke: lightgrey;
  stroke-width: 1;
}

.lotivis-plot-grid {
  color: lightgrey;
  stroke-width: 1;
}

.lotivis-plot-grid-x {
  // empty
}

.lotivis-plot-grid-y {
  // empty
}
