
.lotivis-time-plot-chart {
  // empty
}

.lotivis-time-plot-chart-background {
  fill: red; // rgba(255,255,100, 0);
  background: red;
  color: red;
}

.lotivis-time-plot-chart-selection-rect {
  border-radius: 10px;
  fill: $tint-color;
}

.lotivis-time-plot-chart-bar {
  stroke: lightgrey;
  stroke-width: 1;
  pointer-events: none;
}

.lotivis-time-plot-grid {
  color: lightgrey;
  stroke-width: 1;
}

.lotivis-time-plot-label {
  fill: white;
  text-anchor: start;
  font-size: 12px;
  pointer-events: none;
}

.lotivis-time-plot-grid-x {
  // empty
}

.lotivis-time-plot-grid-y {
  // empty
}
